<div class="container">
  <app-meetings-title (openForm)="openForm()"></app-meetings-title>
  <app-meetings-filters
    [meetingQuery]="meetingQuery"
    (submit)="submitFilters()"
  ></app-meetings-filters>
  <app-meetings-table
    [meetings]="meetings"
    (meetingClick)="onMeetingClick($event)"
  ></app-meetings-table>
  <ngb-pagination
    [page]="meetingQuery.page"
    (pageChange)="changePage($event)"
    [pageSize]="10"
    [collectionSize]="100"
  ></ngb-pagination>
</div>
<!-- <app-meetings-form></app-meetings-form> -->
