<div class="container">
  <div class="row align-items-center">
    <h1 class="my-3">Meetings</h1>
    <button class="btn btn-outline-secondary ml-3" (click)="openForm()">
      Novo +
    </button>
  </div>
  <app-meetings-filters
    [meetingQuery]="meetingQuery"
    (submit)="submitFilters()"
  ></app-meetings-filters>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Subjects</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngIf="meetings == null || meetings.isInProgress; else hasData"
      >
        <tr>
          <td colspan="4" class="position-relative" style="height: 200px">
            <app-spinner></app-spinner>
          </td>
        </tr>
      </ng-container>
      <ng-template #hasData>
        <ng-container *ngIf="meetings.isFailure">erro...</ng-container>
        <ng-container *ngIf="meetings.isSuccess">
          <ng-container *ngIf="meetings.data.length > 0; else emptyList">
            <tr
              *ngFor="let meeting of meetings.data"
              (click)="onMeetingClick(meeting)"
            >
              <td>{{ meeting.date | date: "dd/MM/yyyy" }}</td>
              <td>
                {{ meeting.subjects.length }}
              </td>
              <td>{{ meeting.description }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="
                    meeting.status === 'Open' ? 'badge-warning' : 'badge-danger'
                  "
                  >{{ meeting.status }}</span
                >
              </td>
            </tr>
          </ng-container>
          <ng-template #emptyList>
            <tr>
              <td colspan="4"><h1>No meetings found</h1></td>
            </tr>
          </ng-template>
        </ng-container>
      </ng-template>
    </tbody>
  </table>
  <ngb-pagination
    [page]="meetingQuery.page"
    (pageChange)="changePage($event)"
    [pageSize]="10"
    [collectionSize]="100"
  ></ngb-pagination>
</div>
<!-- <app-meetings-form></app-meetings-form> -->
