<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Subjects</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngIf="meetings == null || meetings.isInProgress; else hasData"
    >
      loading...
    </ng-container>
    <ng-template #hasData>
      <ng-container *ngIf="meetings.isFailure">erro...</ng-container>
      <ng-container *ngIf="meetings.isSuccess">
        <tr *ngFor="let meeting of meetings.data">
          <td>15/03/2020</td>
          <td>
            5
          </td>
          <td>Finished</td>
        </tr>
      </ng-container>
    </ng-template>
  </tbody>
</table>
<ngb-pagination
  [page]="meetingQuery.page"
  (pageChange)="changePage($event)"
  [pageSize]="10"
  [collectionSize]="100"
></ngb-pagination>
